{{!--   <h1>Vista de carrito</h1>

    <div>
      <h1>{{this.quantity}}</h1>
      <p>{{this.product.title}}</p>
      <p>{{this.product.description}}</p>
      <p>{{this.product.price}}</p>
      <p>{{this.product.code}}</p>
      <p>{{this.product.category}}</p>
    </div>
  
</div> --}}

<div
  class="relative overflow-x-auto shadow-md sm:rounded-lg mx-auto max-w-[800px] mt-10"
>
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
          Product name
        </th>
        <th scope="col" class="px-6 py-3">
          Description
        </th>
        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
          Category
        </th>
        <th scope="col" class="px-6 py-3">
          Price
        </th>
        <th scope="col" class="px-6 py-3">
          +
        </th>
        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
          Quantity
        </th>
        <th scope="col" class="px-6 py-3 items-center">
          -
        </th>
      </tr>
    </thead>
    {{#each cart.products}}
      <tbody>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800"
          >
            {{this.product.title}}
          </th>
          <td class="px-6 py-4">
            {{this.product.description}}
          </td>
          <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
            {{this.product.category}}
          </td>
          <td class="px-6 py-4">
            {{this.product.price}}
          </td>
          <td>
            <button onclick="increaseQuantity({{@index}})">+</button>
          </td>
          <td class="px-6 py-4">
            <span id="quantity{{@index}}">{{this.quantity}}</span>
          </td>
          <td class="px-6 py-4">
            <button onclick="decreaseQuantity({{@index}})">-</button>
          </td>
        </tr>
      </tbody>
    {{/each}}
  </table>
</div>

<script src="js/cart.js"></script>